<% include partials/header %>

<div class="jumbotron">
  <h1>This is a page header</h1>
</div>

<a id="posts" class="btn btn-primary" href="/posts">GET POSTS</a>

<div class="data"></div>

<% include partials/footer %>